*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


   
.grid-container{
    display: grid;
   grid-template-columns: repeat(auto-fit,minmax(1fr,1fr));
   row-gap: 20px;
 

}


/* HEADER Y FOOTER ************************/

.footer {
    background: rgb(0, 0, 0);
    color: #fff;
    grid-area: 4 / 1 / 4  / 5 ;
    height: 35vh;
   
}


.footer p{
    
    font-size: 20px;
}


.header{
    background: rgb(21, 38, 45);
        grid-area: 1 / 1 / 1  / 5 ;
    
        
}

nav{
    background: rgb(24, 24, 24);
    color: #fff;
    grid-area: 2 / 1 / 2  / 5 ;
}


/* HEADER Y FOOTER ************************/

.tef{
    display: flex;
    flex-direction: column;
   
}
.tef > a{
    color: #000;
    font-weight: bold;
}


h3{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 22px;
}




/* START FORMULARIO */
#formulario{
   border: 1px solid #000;
    grid-area: 3 / 2 / 3 / 5 ;
    display: flex; 
   align-self: center;
   flex-direction: column;
   height: 600px;

    
}

.anexo{
    grid-area: 3 / 1 / 3 / 1;
    background: rgba(249, 239, 239, 0.6);
    border: 1px solid #000;
    
}

@media only screen and (max-width:760px){
    #formulario{
   border: 1px solid #000;
    grid-area: 3 / 1 / 4 / 5 ;
    display: flex; 
   align-self: center;
   flex-direction: column;
   height: 600px;
    
}

.footer {
    background: rgb(0, 0, 0);
    color: #fff;
    grid-area: 8 / 1 / 8  / 5 ;
    height: 90vh;
    text-align: center;

}


}
.campos{
   outline: 1px solid #000;
    height: 5vh;
    max-width: 40vw;
}

label{
    color: #000;
    font-size: 20px;
    
}


.botones{
   background-color: #d34a0b;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    border: none;
    height: 5vh;
    width: 20vw;
}
.botones:hover{
    background-color: #e08054;
}

textarea{
    max-width: 600px;
}

.alert{
    grid-area: 3 / 1 / 3 / 3;
    background-color: #252221;
    width:40vw ;
    height:7vh ;
    color:#fff;
}



@media only screen  and (max-width:760px){
        
.anexo{
    grid-area: 5 / 1 / 5 / 5;
    background: rgba(249, 239, 239, 0.6);
    border: 1px solid #000;
}

.botones{
   background-color: #d34a0b;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    border: none;
    height: 5vh;
    width: 40vw;
}

}
/* FIN FORMULARIO */





body{
    background-image: url(wallpaperbetter.com_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu li{
    margin-right: 20px;
    font-size: 20px;
}

li:hover{
    
    background-color: rgb(255, 153, 0);
}




.anexo p{
    font-size: 25px;
}


.lead{
    display: flex;
    align-content: space-between;
}

.about{
    /* grid-column: 1 / span 1; */
}



a{
    text-decoration: none;
    color: #fff;
}